path.inactive {
  background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    #444 10px,
    #444 11px
  );
}

.displayPanes {
  display: flex;
  background: rgb(34,34,34);

  h3 {
    text-align: center;
  }
}

.displayPane {
  flex-grow: 4;
  cursor: pointer;
  background: rgb(255, 255, 255)
}

.displayPane.active {
  background: linear-gradient(0deg, 
    rgb(170, 0, 0) 0%,
    rgb(248, 65, 65) 100%,
  );
}

.controls {
  width: 1400px;
  /* display: flex; */
  input[type="range"] {
    width: 100%;
  }  
}

.rootControl {
  display: flex;
  flex-grow: 1;
}

.rootControl--label {
  width: 10%;
  padding: .5em 1em;
}

.rootControl--input {
  width: 70%;
}

.rootControl--options {
  padding: .5em 1em;
}

.modeControl {
  display: flex;
  flex-grow: 1;
}

.modeControl--label {
  width: 10%;
  padding: .5em 1em;
}

.modeControl--input {
  width: 70%;
}

.modeControl--options {
  padding: .5em 1em;
}

.chordControl {
  display: flex;
  flex-grow: 1;
}

.chordControl--label {
  width: 10%;
  padding: .5em 1em;
}

.chordControl--input {
  width: 70%;
}